:root {
    --brand: #c101fb;
    --sub: #6ac754;
    --body: #516171;
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
   /* Navbar */
   
.site-navbar {
  margin-bottom:0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: rgba(255, 255, 255, 0.7); }
  .site-navbar .site-logo {
  position: relative;
  left: 70;
  top: -5px; }
  .site-navbar .site-navigation .site-menu {
  margin-bottom: 0; }
  .site-navbar .site-navigation .site-menu .active {
  color: var(--brand);
  display: inline-block;
  padding: 5px 20px; }
  .site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block; }
  .site-navbar .site-navigation .site-menu > li {
  display: inline-block; }
  .site-navbar .site-navigation .site-menu > li:hover {
    background-color: #071658;
    color: #fff;
    box-shadow: 0 4px 8px rgba(41, 40, 40, 0.3);
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

  .site-navbar .site-navigation .site-menu > li > .nav-link {
  /* padding: 20px 10px; */
  padding: 0px;
  margin: 0px 15px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  display: inline-block;
  text-decoration: none !important; }
  .site-navbar .site-navigation .site-menu > li > .top-button {
  padding: 4px 0px;
  color: #000;
  display: inline-block;
  text-decoration: none !important; }
  .site-navbar .site-navigation .site-menu > li > a:hover {
  color: var(--brand); }
  .site-navbar .site-navigation .site-menu .has-children {
  padding: 20px 0;
  position: relative; }
  .site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px; }
  .site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon'; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  /* border-top: 2px solid #000; */
  -webkit-box-shadow: 0 2px 10px -2px #ece2e2;
  box-shadow: 0 2px 10px -2px #f1f0f0ec;
  padding: 15px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #000; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown .active {
  color: var(--brand) !important; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  /* min-width: 210px; */
  min-width: 250px;
   }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  /* padding: 10px 50px; */
  padding: 10px 0px 0px 25px;
  display: block; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  /* background: #eff1f3; */
  color: #6ac754;
 }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: "\e315";
  right: 20px; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0; }
  .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
  color: var(--brand); }
  .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer; }
  .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1; }
  
  .site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 60px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative; }
  .site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529; }
  .site-mobile-menu .site-nav-wrap a:hover {
  color: var(--brand); }
  .site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block; }
  .site-mobile-menu .site-nav-wrap li .active {
  color: var(--brand); }
  .site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%; }
  .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa; }
  .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%; }
  .site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 15px; }
  .site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  .site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 13px; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px; }
  .site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em; }
  .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto; }
  .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important; }
  
  .sticky-wrapper {
    position: absolute;
    z-index: 100;
    width: 100%; }
    .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .sticky-wrapper .site-navbar .site-menu-toggle {
    color: #ffffff; }
    .sticky-wrapper .site-navbar .site-logo a {
    color: #ffffff; }
    .sticky-wrapper .site-navbar .site-menu > li > a {
    color: rgba(255, 255, 255) !important; }
    .sticky-wrapper .site-navbar .site-menu > li > a:hover, .sticky-wrapper .site-navbar .site-menu > li > a.active {
    color: #ffffff !important; }
    .sticky-wrapper.is-sticky .site-navbar {
    /* background: #000000; */
    background: #ffffff;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1); }
    .sticky-wrapper.is-sticky .site-navbar .site-menu-toggle {
    /* color: #ffffff; */
    color: black; }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
    /* color: #ffffff; */
    color: black; }
    .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
    /* color: #ffffff !important; */
    color: black !important;
    /* padding: 20px 20px; */
    /* margin-bottom: 20px; */
   }
    .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover, .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active {
    color: #fff !important; }
    .sticky-wrapper .shrink {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }

    @media (min-width:967px){
      .site-header{
        padding-top: 20px;
      }
      .site-navbar .site-navigation .site-menu .has-children .dropdown-padding{
        padding: 30px 0px !important;
      }
    }
  

.nav-brand img{
    
  height: 90px;
    margin: 5px 0px;

}
@media (max-width: 768px) {
  .nav-brand img {
      height: 60px; /* Adjust height as needed for mobile */
      margin: 3px 0; /* Adjust margin as needed */
  }
}
/**end**/
.btn_1,
.btn_2:hover,
.main_menu .navbar-toggler:after,
.banner_part .banner_text .btn_1,
.feature_part .single_feature:hover span {
  background-image: linear-gradient(to left, #fcc230 0%, #FFB603 51%, #fabc1f 100%);
}

.btn_1 {
  display: inline-block;
  margin-top: auto;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  border: 1px solid transparent;
  box-shadow: 0px 12px 20px 0px rgba(255, 95, 95, 0.15);
  border: 5px solid var(--brand);
}

/* line 38, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
.btn_1:hover {
  color: #fff !important;
  background-position: left center;
  box-shadow: 0px 10px 30px 0px rgba(193, 10, 10, 0.2);
}

@media (max-width: 576px) {

  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px;
  }
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, .1);
  z-index: 1;
}
.carousel-item img{
  filter: brightness(50%);
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
}
/* .carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  width: 3rem;
  height: 3rem;
  background-color: var(--brand);
} */

  #header-carousel .carousel-item {
      position: relative;
      min-height: 420px;
  }
@media (max-width: 768px) {
  #header-carousel .carousel-item {
      position: relative;
      min-height: 450px;
  }
  
  #header-carousel .carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

@keyframes slideInDownWithOpacity {
  0% {
    transform: translateY(-100%); /* Start above the viewport */
    opacity: 0; /* Fully transparent */
  }
  100% {
    transform: translateY(0); /* End at its original position */
    opacity: 1; /* Fully opaque */
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; /* Ensure the element retains the final state */
}

.slideInDown {
  animation-name: slideInDownWithOpacity;
}
/*** Facts ***/
.fact {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../img/image-4/slider-2.jpg) center center no-repeat;
    background-size: cover;
}

/*End*/
.services {
    position: relative;
    padding: 1rem 0;
  }
  .services__content {
    padding: 1rem;
    margin-top: 0;
  }
  .services__content p {
    font-size: 0.8rem;
  }
  @media (min-width: 992px) {
    .services__content p {
      font-size: 1rem;
    }
  }
  @media (min-width: 992px) {
    .services__content {
      margin-top: 5rem;
    }
  }
  .services .icon {
    font-size: 1.5rem;
    color: var(--brand);
  }
  @media (min-width: 992px) {
    .services__content .icon {
      font-size: 2.5rem;
    }
  }
  .services__pic {
    margin-top: 50px;
    height: 220px;
    width: 90%;
  }
  .heading-line::before {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: var(--brand);
  }
  
  .heading-line::after {
    content: "";
    width: 2rem;
    padding-top: 0.5rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: var(--brand);
  }
  .display-3--title {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    background-image: linear-gradient(to right, #990011, #bd1629);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media (min-width: 992px) {
    .display-3--title {
      font-size: 1.8rem;
    }
  }
  .btn-rounded {
    position: relative;
    padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
    font-weight: 700;
    margin: 0;
    border: 0.1rem solid rgba(255, 255, 255, 0.6);
    background-color: #fff;
    display: block;
  }
  .btn-rounded span {
    position: absolute;
    background-color: var(--brand);
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  .btn-rounded span i {
    color: #fff;
    font-size: 1rem;
    line-height: 2.5rem;
  }
  .btn-rounded:hover {
    background: linear-gradient(to right, rgba(136, 1, 1, 0.95), rgba(175, 4, 4, 0.95));
    color: #fff;
  }
  .btn-rounded:hover span {
    background-color: rgba(0, 0, 0, 0.6);
  }    

  /*end*/

  .testimonials {
    position: relative;
    padding: 0;
    background: linear-gradient(to right, rgba(136, 1, 1, 0.95), rgba(163, 32, 32, 0.849));
  }
  .testimonials__card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem 1.25rem;
    border-radius: 0.625rem;
    height: auto;
    text-align: center;
  }
  .testimonials__card i {
    font-size: 1.5rem;
    color: rgba(175, 4, 4, 0.95);
  }
  .testimonials__card .ratings i {
    color: rgba(175, 4, 4, 0.95);
    font-size: 1rem;
  }
  .testimonials__picture {
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .testimonials__picture img {
    border: 0.325rem solid rgba(175, 4, 4, 0.95);
  }
  .testimonials__name {
    padding-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    color: #fff;
  }
  .testimonials__name h3 {
    padding-top: 0.8rem;
    text-transform: capitalize;
    color: #fff;
  }
  .testimonials__name p {
    padding-bottom: 2rem;
    text-transform: capitalize;
  }

  .btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
  }
  .btn-outline-light:hover {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    /*End*/

  }


